config/.zshrc.workspace
config/ssh
config/broot/launcher/*
workspaces/*/clips/**/*.wav
workspaces/*/clips/**/*.mkv
workspaces/**/.git/*
/workspace
workspaces/
!workspaces/.gitkeep
docker-compose.override.yml
config/nvim-local/
tmp/
